$headerHeight: 50px;

body {
  background-color: $gh-pink-lt;
  overflow-x: hidden;
  &.unverified {
    overflow: hidden;
  }
}
header, footer {
  z-index: 11;
  a, a:visited {
    text-decoration: none;
  }
}

input:focus, textarea:focus {
  outline: none!important;
  box-shadow: none!important;
}

.bg-centered {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.gh-social-icons {
  position: relative;
  margin: .75em -1rem 1rem;
  .gh-social-icons-content {
    display: flex;
  }
  .gh-icon {
    @include transformify(transition, transform .2s ease-in-out);
    &:hover {
      @include transformify(transform, scale(1.3));
    }
    a {
      padding: 0 10px;
      display: flex;
      align-items: center;
    }
    svg {
      width: 16px;
      height: auto;
      fill: rgba(0,0,0,.3);
      g path {
        fill: rgba(0,0,0,.2)!important;
      }
      @include for-size(lg) {
        width: 20px;
      }
    }
  }
}

h1.section-header {
  background-color: $gh-pink;
  display: inline;
  &::after {
    content: '';
    display:block;
    height:.5em;
  }
}
h1 {
  display: inline;
  line-height: 2.6rem;
  margin-bottom: 1em;
  display: inline-block;
}
h3 {
  font-size: 1.6rem;
}
.btn-container {
  text-align: center;
}

.arrow-link {
  color: $gh-yellow;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  display: block;
  &:visited {
    color: $gh-yellow!important;
  }
  &:hover {
    color: $gh-yellow!important;
  }
  &:focus {
    color: $gh-yellow!important;
  }
  &:active {
    color: $gh-yellow!important;
  }
  &::after {
    content: '';
    background-image: url('../images/arrow.svg');
    margin-left:10px;
    padding-left:80px;
  }
}

#form-container, .nf-table-display, .nf-form-wrap {
  width: 100%;
  max-width: 750px;
  min-width: 300px;
  display: inline-table;
  table-layout: fixed;
  display: grid;
  position: relative;
  padding: 3em 0 1em;
  margin: 1rem auto 2rem auto;
  margin:0;
  @include for-size(sm-md) {
    margin: 5rem auto 8rem auto;
    display: block;
    border-top:0px;
    padding:0;
    max-width: 650px;
  }
  .caldera-grid, form, .nf-form-cont {
    grid-column: content;
  }
  input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea {
    padding: 4px 12px 8px;
  }
  textarea {
    padding-top: 12px;
    height:110px;
  }
  .form-agree {
    font-weight: 100;
    a {
      text-decoration: underline;
      font-weight: 600;
    }
  }
  a {
    text-decoration: underline;
    font-weight: 600;
  }
  .nf-field-container {
    margin-bottom: 10px;
    &.submit-container {
      margin-left: 0!important;
      margin-bottom: 0;
    }
    &.full-width {
      margin-bottom: 15px;
    }
  }
  #nf-field-53-container {
    display: none;
  }
  .nf-form-fields-required {
    display: none;
  }
  .submit-container {
    margin-left: 0;
  }
  input[type="button"] {
    color: white;
    background-color: $gh-blue;
    border: 0;
    border-radius: 0;
    font-weight: 200;
    padding: 18px 36px 17px;
    letter-spacing: 1px;
    font-size: .7rem;
    text-transform: uppercase;
    @include for-size(md) {
      margin-top: 1rem;
    }
  }
  .form-container-content {
    grid-column: content;

    .nf-form-title h3 {
      background-color: $gh-pink;
      font-size: 2em;
      display: inline;
      padding: 4px;
      padding-left: 0;
      padding-right: 0;
      box-decoration-break: clone;
      margin-bottom: 30px;
      box-shadow:
        4px 0 0 $gh-pink,
        4px 0 0 $gh-pink;
      &::after {
        content: '';
        display:block;
        height:1em;
      }
    }
  }
  #beta-inputs {
    @include gridcols( 48.5% 48.5% );
    justify-content: space-between;
    display: inline-table;
    table-layout: fixed;
    display: grid;
    position: relative;
    input {
      margin-bottom: 15px;
      padding: 8px 10px 10px;
    }
  }
  p {
    margin: 0rem 0 1rem 0;
    font-size: 1.2rem;
  }
  input, textarea {
    border: 0;
    //padding: 20px 10px;
    &:focus {
      outline: none;
    }
    &::placeholder { /* Firefox 18- */
      color: $gh-green;
      text-transform: uppercase;
      font-size: .85rem;
      font-weight: 500;
      letter-spacing: 1px;
      @include for-size(md) {
        font-size: .73rem;
      }
    }
  }
  textarea {
    padding-top: 15px;
    resize: none;
  }
  input[type="submit"] {
    margin-top: 1rem;
  }
  @include for-size(sm-md-down) {
    .nf-form-cont .one-half, .nf-form-cont .one-third, .nf-form-cont .two-sixths {
      width: 100%!important;
      margin-left: 0!important;
      margin-right: 0!important;
      input {
        font-size: 16px!important;
      }
    }
  }
}

.home #form-container {
  @include for-size(md) {
    margin: 5rem auto 10rem 0;
  }
}

input[type="submit"] {
  cursor: pointer;
}

.alert {
  background-color: transparent;
  color: black;
  h1 {
    background-color: $gh-pink;
    display: inline;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    box-decoration-break: clone;
    box-shadow:
      4px 0 0 $gh-pink,
      4px 0 0 $gh-pink;
    &::after {
      content: '';
      display:block;
      height:1em;
    }
  }
  p {
    margin: 0!important;
  }
}

.section-qa {
  position: relative;
  #form-container {
    width: 100%;
    @include for-size(sm-md) {
      margin-bottom: 0;
      margin-right: auto;
    }
  }
  .qa-container {
    margin-bottom: 30px;
    @include for-size(md) {
      margin-bottom: 8rem;
    }
  }
}

/*------------------------------------*\
  Header
\*------------------------------------*/

$logoWidth: 80%;

#toggle-menu {
  width: 52px;
  height: 52px;
  background-color: white;
  position: fixed;
  z-index:999;
  top: 2rem;
  right: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include for-size(lg) {
    display: none;
  }
  .toggle-line {
    width: 50%;
    height: 2px;
    background-color: #343465;
    opacity: 1;
    @include transformify(transition, opacity .2s linear);
  }
  &::before, &::after {
    content:'';
    width: 50%;
    height: 2px;
    background-color: #343465;
    position: absolute;
    left: 25%;
    top: calc(50% - 1px);
  }
  &::before {
    @include transformify(transform, translateY(-7px));
    animation-name: togglemenutopback;
  }
  &::after {
    @include transformify(transform, translateY(7px));
    animation-name: togglemenubottomback;
  }
}
body.menu-inactive #toggle-menu{
  &::before, &::after {
    animation-duration: .35s;
  }
}
body.menu-active #toggle-menu {
  .toggle-line {
    opacity: 0;
  }
  &::before, &::after {
    animation-duration: .35s;
  }
  &::before {
    animation-name: togglemenutop;
    animation-fill-mode: forwards;
  }
  &::after {
    animation-name: togglemenubottom;
    animation-fill-mode: forwards;
  }
}
.admin-bar {
  #toggle-menu {
    top: 4rem;
  }
}

header.site-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8e8e6+28,fbf6f5+100 */
  background: rgb(248,232,230); /* Old browsers */
  background: linear-gradient(to bottom, rgba(248,231,229,1) 50%,rgba(251,246,245,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e8e6', endColorstr='#fbf6f5',GradientType=0 ); /* IE6-9 */
  padding: 5rem 0 4rem 0;
  @include for-size(sm-md) {
    padding: 2rem 0 4rem;
  }
  .content-inner {
    width: 95%;
    max-width: none;
    @include for-size(lg) {
      width: 90%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
    }
  }
  .gh-social-icons {
    display: none;
  }
  .site-branding {
    display: flex;
    justify-content: center;
    @include for-size(lg) {
      display: none;
    }
  }
  .custom-logo-link {
    width: $logoWidth;
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    flex-shrink: 0;
    @include for-size(sm-md) {
      width: 250px;
      margin: 0 3rem;
    }
    @include for-size(lg) {
      width: 280px;
    }
    @include for-size(xxl) {
      width: 330px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .main-navigation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    display: none;
    @include for-size(lg) {
      display: flex;
      height: auto;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
      .site-navigation-content {
        width: 100%;
      }
    }
    .menu-header-menu-left-container, .menu-header-menu-right-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size:cover;
      width: 100%;
      @include for-size(lg) {
        display: block;
        position: relative;
        background-color: transparent;
        background-image:none;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @include for-size(lg) {
          margin-right: -1rem;
          flex-direction: row;
          justify-content: flex-end;
          height: auto;
        }
        li {
          position: relative;
          @include for-size(lg) {
            top: .5rem;
            margin: 0 2rem;
          }
          @include for-size(lg) {
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              background-color: rgb(100,100,100);
              bottom: 0;
              left: 0;
              opacity: 0;
            }
            &:not(.current-menu-item):hover {
              a {
                animation-name: bounce;
              }
              border-bottom: 2px solid black;
            }
            &.current_page_item a {
              border-bottom: 2px solid black;
              padding:.2em 0;
            }
          }
          a {
            color: black;
            font-size: calc(5vw + 10px);
            @include for-size(lg) {
              font-size: 1em;
              white-space: nowrap;
              padding: 1rem 0 1rem;
              font-weight: 600;
              display: block;
              top: .5rem;
              position: relative;
              overflow: hidden;
              animation-duration: .35s;
              animation-fill-mode: both;
              transform-origin: center bottom;
            }
          }
        }
      }
    }
    @include for-size(lg) {
      .menu-header-menu-right-container {
        ul {
          justify-content: flex-start;
        }
      }
    }
    &#sticky-menu {
      position:fixed;
      top:0px;
      right:0px;
    }
  }
}

body.menu-active {
  @include for-size(lg-down) {
    overflow: hidden;
  }
  header.site-header {
    .main-navigation {
      display: flex;
      @include for-size(lg-down) {
        background-color: $gh-blue;
        flex-direction: column;
        justify-content: center;
        .custom-logo-link {
          display: none;
        }
        .menu-header-menu-left-container, .menu-header-menu-right-container {
          height: 30vh;
          position: relative;
          ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            li {
              a {
                color: white;
                opacity: .6;
                font-size: 1.8rem;
                font-weight: 600;
              }
              &.current-menu-item {
                a {
                  color: $gh-yellow;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
.home {
  .site-main {
    padding: 0rem 0 0;
    @include for-size(sm-md) {
      padding: 4rem 0 0 0;
    }
  }
}
.section-left-indent {
  margin-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include for-size(md) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include for-size(lg) {
    padding-left: 10rem;
    padding-right: 8rem;
  }
}
/*------------------------------------*\
  Home
\*------------------------------------*/

.gh-section {
  position: relative;
  &:not(.no-animate) {
    opacity: 0;
    transform: translateY(5rem) translateZ(0);
    transition: all .5s linear;
  }
  &.visible {
    transform: translateY(0) translateZ(0);
    opacity: 1;
  }
  &#gh-section-hero {
    p {
      opacity: 0;
      transform: translateY(-2rem) translateZ(0);
      transition: all .3s linear;
      &.visible {
        transform: translateY(0) translateZ(0);
        opacity: 1;
      }
    }
  }
  .content-inner:not(.content-section) {
    max-width: 400px;
    width:80%;
    @include for-size(sm-md) {
      max-width: 480px;
      width: 90%;
    }
    @include for-size(md) {
      max-width: 80%;
    }
    @include for-size(lg) {
      max-width: 800px;
    }
    @include for-size(xxl) {
      max-width: 1000px;
    }
  }
  .content-inner {
    @include for-size(sm-md) {
      width: 90%;
    }
  }
  h1, h2 {
    background-color: $gh-pink;
    display: inline;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    box-decoration-break: clone;
    box-shadow:
      4px 0 0 $gh-pink,
      4px 0 0 $gh-pink;
    &::after {
      content: '';
      display:block;
      height:1em;
    }
  }
}

#background-side_3-wrapper{
  @include for-size(md) {
    position: relative;
    margin-bottom: -10em;
    padding-bottom: 1.5em;
  }
}
.home {
  .gh-section {
    margin-bottom: 4rem;
    @include for-size(md) {
      margin-bottom: 6rem;
    }
    .section-wrapper {
      display: flex;
      flex-direction: column;
      @include for-size(md) {
        flex-direction: row-reverse;
        align-items: center;
      }
      .section-image {
        flex-shrink: 0;
        margin-bottom: 4rem;
        img {
          width: 100%;
          height: auto;
        }
        @include for-size(md) {
          width: 45%;
          margin-bottom: 0;
        }
      }
      .section-content-wrapper {
        width: 100%;
        flex-shrink: 1;
        p {
          font-size: 1.5rem;
        }
        // &.small-text {
        //   p {
        //     font-size: 1.2rem;
        //   }
        // }
        .section-content {
          @include for-size(md) {
            padding-right: 4rem;
          }
          ul {
            li {
              // color: #989594;
              // font-weight: 600;
              strong {
                color: black;
              }
            }
          }
        }
      }
      &.image_content {
        @include for-size(md) {
          flex-direction: row;
        }
        .section-content-wrapper {
          @include for-size(md) {
            padding-left: 4rem;
          }
        }
        .section-content {
          @include for-size(md) {
            padding-right: 0;
          }
        }
      }
      h2 {
        position: relative;
        font-size: 2.6rem;
      }
    }
  }
}

#gh-section-hero {
  .section-left {
    p {
      font-size: 1.15rem;
      &:not(:last-of-type) {
        padding-bottom: 3rem;
      }
      @include for-size(sm-md) {
        font-size: 1.3em;
      }
      @include for-size(md) {
        font-size: 1.75em;
        padding-bottom: 3rem;
      }

    }
    font-weight:600;
    @include for-size(sm-md) {
      margin-bottom: 10vw;
    }
    @include for-size(md) {
      display: flex;
      position: relative;
    }
  }
  .section-right {
    @include for-size(md) {
      display: flex;
      position: relative;
    }
  }
  @include for-size(md) {
    .section-content {
      min-width: 650px;
    }
  }
}

.section-content-split {
  @include for-size(md) {
    display: flex;
    position: relative;
  }
}

#gh-section-questions {
  background-image: none;
  padding: 8em 0px 0.5em;
  margin: -10em 0 0 0;
  @include for-size(md) {
    padding: 15em 0 .5em 0;
    .section-content-header {
      margin-bottom:4em;
      p {
        font-size:1.2em;
      }
    }
  }
}
#gh-section-form {
  border-top: 2px solid $gh-pink;
  padding-bottom: 0em;
  margin-bottom: 2rem;
  @include for-size(md) {
    border-top: 0px solid $gh-pink;
    margin-bottom: 4rem;
  }
}

.bg-illustration {
  z-index: -1;
  overflow: hidden;
  width: 100vw;
  position: absolute;
}
.bg-illustration {
  svg {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
  }
}

/*------------------------------------*\
  Q+A Preview
\*------------------------------------*/
#qa-preview {
  border-bottom:2px solid $gh-pink;
  padding:1em 0 3rem;
  @include for-size(md) {
    width: 100%;
    padding:0 7rem 0 0;
    border-bottom:0px solid $gh-pink;
    border-right:2px solid $gh-pink;
  }
}
.hashtag-popup {
  text-align: right;
  div {
    background-color: $gh-teal-lt;
    display: inline-block;
    padding: 4px 8px;
  }
}
.qa-preview-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.qa-preview-response {
  position: relative;
  p {
    font-size: .9rem;
    line-height: 1rem;
  }
}
.qa-response-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

#preview-responses {
  display: inline-table;
  table-layout: fixed;
  display: grid;
  position: relative;
  margin-bottom: 1em;
  @include gridcols(48% 48%);
  justify-content: space-between;
  @include for-size(md) {
    @include gridcols( 48% 48% );
  }
}

/*------------------------------------*\
  Mentor Preview
\*------------------------------------*/
#mentor-preview {
  padding:2em 0;
  .mentor-preview-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  @include for-size(md) {
    width: 100%;
    padding:0 0 0 7rem;
  }
}
.mentor-container {
  &::after {
    content: '';
    flex: auto;
  }
}
.mentor-image-container {
  position: relative;
}
.mentor-image-background, .qa-response-image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #343465, #343465);
}
.mentor-image, .qa-response-image {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  mix-blend-mode: lighten;
  isolation: isolate;
  opacity: .5;
}
.qa-response-image {
  padding-bottom: 100%;
}
.mentor-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 18px 38px;
    border-color: transparent transparent transparent white;
    transition: border-color .2s linear;
  }
  &:hover {
    &::after {
      border-color: transparent transparent transparent $gh-yellow;
    }
  }
}
.mentor-question {
  padding-left: 20px;
  position: relative;
  display: block;
  font-weight: 300;
  line-height: 1.4rem;
  p {
    color: black;
    font-weight: 600;
    opacity: .5;
  }
  &::before {
    content: '"';
    color: black;
    position: absolute;
    font-weight: 600;
    left: 0;
    top: 0;
  }
}
.mentor-link {
  h6 {
    margin: 15px 0 5px;
  }
  span {
    color: $gh-green;
  }
}

/*------------------------------------*\
  Mentors Page
\*------------------------------------*/
.page-template-templates {
  .section p {
    font-size: 1.2em;
  }
  .site-content {
    @include for-size(md) {
      margin-top:3em;
    }
  }
}
#mentors-container {
  display: inline-table;
  table-layout: fixed;
  display: grid;
  position: relative;
  margin-top: 3rem;
  @include gridcols(100%);
  justify-content: space-between;
  @include for-size(sm-md) {
    @include gridcols(49% 49%);
  }
  @include for-size(md) {
    @include gridcols( 32% 32% 32% );
  }
  .mentor-container {
    margin: 12px 0;
    @include for-size(sm-md) {
      margin: 18px 0;
    }
    @include for-size(md) {
      margin: 24px 0;
    }
  }
}

.page-template-mentors {
  #form-container {
    margin-left: auto;
  }
}


/*------------------------------------*\
  Q+A Page
\*------------------------------------*/

.qa-
container {
  @include transformify(transition, all .2s ease-in-out);
  animation-duration: 0.75s;
  animation-name: bounceIn;
  padding-bottom: 50px;
  &.new-post {
    opacity: 0;
    animation: none;
  }
}
#qas-container {
  @include for-size(md) {
    margin-top:2em;
  }
}
.question-header {
  background-color: white;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: $gh-teal;
  font-weight: normal;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include for-size(md) {
    font-size: 1.8rem;
    width: 100%;
  }
  // &::before {
  //   content: '';
  //   width: 85px;
  //   height: 50px;
  //   background-image:url('../images/email/Grasshopper.png');
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   position: absolute;
  //   left: 16px;
  //   top: calc(100% + 16px);
  // }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 120px;
  //   top: 100%;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 28px 30px 0 0px;
  //   border-color: #ffffff transparent transparent transparent;
  // }
}
.question-social{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 65px auto 1.5rem auto;
  min-height: 40px;
  @include for-size(md) {
    width: 100%;
    margin-top: 1.5rem;
  }
  @include for-size(xxl) {
    flex-wrap: nowrap;
  }
  a {
    margin-left: 8px;
    padding: 5px 10px!important;
    @include for-size(md) {
      padding: .8rem 2rem .7rem!important;
      margin-left: 16px;
    }
  }
  .instructions {
    width:100%;
    text-align: right;
    flex: 0 0 100%;
    padding-bottom: 1em;
    @include for-size(xxl) {
      padding-bottom: 0px;
    }
  }
}

.responses-container {
  margin-top: 1.5rem;
  display: inline-table;
  table-layout: fixed;
  display: grid;
  position: relative;
  grid-gap: 40px;
  @include gridcols(repeat(auto-fill, minmax(180px,1fr)));
  grid-auto-rows: 10px;
  @include for-size(md) {
    margin-top: 4rem;
  }
  .response-box {
    a:hover {
      color: black;
    }
    .response-box-content {
      position: relative;
    }
    .response-image {
      .response-image-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #343465, #343465);
      }
      img.response-image-image {
        mix-blend-mode: lighten;
        isolation: isolate;
        opacity: .5;

      }
    }
    &.response-box-ig {
      // a {
      //   display: block;
      // }
      // .response-image {
      //   .response-image-bg {
      //     background-image: linear-gradient(to bottom, #fbcc4e, #fbcc4e);
      //   }
      //   img.response-image-image {
      //     opacity: 1;
      //   }
      //   .response-content {
      //     .response-content-background {
      //       background-color: transparent;
      //       &::before {
      //         display: none;
      //       }
      //     }
      //   }
      // }
    }
    .response-text {
      background-color: white;
      padding: 15px 20px 10px;
      position: relative;
      display: block;
      &::after {
        content: '';
        position: absolute;
        left: 30px;
        top: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 28px 0px 0 30px;
        border-color: #ffffff transparent transparent transparent;
      }
      p {
        padding: 0;
      }
      p:not(:last-of-type) {
        padding-bottom: 1rem;
      }
    }
    .response-user {
      display: flex;
      align-items: center;
      padding-left:75px;
      margin-top: 15px;
      .response-user-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }
      span {
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: black;
      }
    }
    .response-image {
      width: 100%;
      height: auto;
      position: relative;
      img {
        width: 100%;
        height: auto;
        display: block;
        opacity: .8;
      }
      .response-user {
        span {
          color: white;
        }
      }
      .hover-icon {
        position: absolute;
        bottom: 12px;
        right: 12px;
        height: 24px;
        width: auto;
        z-index: 99;
      }
      .response-content-text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        padding: 5%;
        -webkit-overflow-scrolling: touch;
        p a {
          display: inline-block;
        }
      }
      .response-content-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $gh-teal;
      }
      .response-content {
        opacity: 1;
        @include transformify(transition, opacity .1s linear);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      .response-text {
        font-size: 1.3rem;
        font-weight: 700;
        background-color: transparent;
        line-height: 1.5rem;
        padding: 0;
        z-index: 3;
        color: white!important;
        a, p {
          color: white;
          &:visited, &:focus{
            color: white!important;
          }
        }
        &::after {
          display: none;
        }
        img {
          position:relative;
        }
      }
      .response-user {
        padding-left: 0;
        margin-top: 10px;
        z-index: 3;
        position: relative;
      }
      &:hover {
        .response-content {
          opacity: 1;
        }
      }
      .hover-icon:hover ~ .response-content {
        opacity: 0;
        -webkit-opacity: 0;
      }
      .hover-icon:hover ~ a .response-content {
        opacity: 0;
        -webkit-opacity: 0;
      }

      .hover-icon:hover {
        a & ~ .response-content{
          opacity: 0;
          -webkit-opacity: 0;
        }

      }
    }
    &.response-box-ig {
      // .response-text {
      //   p {
      //     color: black;
      //   }
      // }
      // .response-user {
      //   span {
      //     color: black;
      //   }
      // }
    }
  }
}

/*------------------------------------*\
  Page
\*------------------------------------*/

.page-title {
  margin: 3rem 0 0;
}
.error-404 {
  margin-bottom: 4rem;
}
.page {
  #primary {
    margin-bottom:0em;
    .wp-block-button {
      text-align: center;
      .wp-block-button__link {
        color: white;
        background-color: $gh-blue;
        border-radius: 0;
        text-transform: uppercase;
        font-size: .8rem;
        padding: .75rem 1rem;
        position: relative;
        transition: all .2s linear;
        &:hover {
          background-color: transparent;
          outline: 2px solid $gh-blue;
          color: $gh-blue;
          font-weight: 600;
        }
      }
    }
    ul li::before {
      content: "\2022";
      font-size: 1.4em;
      padding-right: .5em;
      position: relative;
      top: .1em;
      margin-left: -1.1em;
  		color: $gh-red;
  	}
    ol {
      list-style: none;
      counter-reset: li;
      li {
        counter-increment: li;
        &::before {
          content: counter(li);
          font-size: 1em;
          padding-right: .5em;
          position: relative;
          display:inline-block;
          top: .05em;
          margin-left: -1.1em;
          color: $gh-teal;
          font-weight: 600;
        }
      }
    }
  }
}
.home.page #primary {
  ul li {
    font-size: 1.4rem;
    line-height: 1.2;
    padding: .5rem 0;
    @include for-size(md) {
      font-size: 1rem;
    }
    &::before {
      color: $gh-red;
    }
  }
}
#page-diagram {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  @include for-size(sm-md) {
    margin: 2rem -2rem 2rem;
  }
  .diagram-item {
    padding: 0 2rem;
    width: 70%;
    margin: 0 auto 4rem;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 0 15px;
      border-color: $gh-yellow transparent transparent transparent;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 1rem);
      @include for-size(sm-md) {
        display: none;
      }
    }
    .diagram-image-container {
      position: relative;
      margin-bottom: 1rem;
      @include for-size(sm-md) {
        margin-bottom: 2.5rem;
        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 0 15px 16px;
          border-color: transparent transparent transparent $gh-yellow;
          top: 50%;
          right: 0;
          transform: translate(250%, -50%);
        }
      }
      .diagram-image {
        width: 100%;
        height: 0;
        padding-bottom: 80%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .diagram-text {
      text-align: center;
      p {
        font-size: 1.2rem;
        @include for-size(sm-md) {
          font-size: .9rem;
        }
      }
    }
    &:last-of-type {
      .diagram-image-container::after {
        display: none;
      }
    }
    @include for-size(sm-md) {
      width: 50%;
      &:nth-child(2) {
        .diagram-image-container::after {
          display: none;
        }
      }
    }
    @include for-size(md) {
      width: 25%;
      &:nth-child(2) {
        .diagram-image-container::after {
          display: block;
        }
      }
    }
  }
}
.featured-image-container {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
  .featured-image {
    width: 100%;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.content-section {
  h1 {
    background-color: $gh-pink;
    display: inline;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    box-decoration-break: clone;
    box-shadow:
      4px 0 0 $gh-pink,
      4px 0 0 $gh-pink;
    &::after {
      content: '';
      display:block;
      height:1em;
    }
  }
  h2 {
    margin-top: 1rem;
  }
  figcaption {
    font-size: 1rem;
    opacity: .6;
    margin-top: 0;
    text-align: center;
  }
  .wp-block-image {
    margin-bottom: 2rem;
  }
  .wp-block-image .alignleft {
    margin-top: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .wp-block-image .alignright {
    margin-top: 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  @include for-size(md-down) {
    .wp-block-image {
      .alignleft, .alignright {
        width: 100%;
        height: auto;
        margin: 0 0 1rem 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  ol {
    li {
      padding: .3rem 0;
    }
  }
}

/*------------------------------------*\
  Footer
\*------------------------------------*/

.site-footer {
  position: relative;
  padding: 0 0 2rem 0;
  display: flex;
  align-items: flex-end;
  @include for-size(md) {
    padding: 8rem 0 2rem;
    min-height: 350px;
  }
  .footer-content-wrapper {
    width: 100%;
    @include for-size(md) {
      width: 90%;
      margin: 0 auto;
    }
    .footer-content {
      width: 80%;
      margin: 0 auto;
      @include for-size(md) {
        width: 50%;
        margin: 0;
      }
      .menu {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .footer-image {
    &.mobile {
      width: 90%;
      height: auto;
      margin: 0 auto 2rem;
      display: block;
      @include for-size(md) {
        display: none;
      }
    }
    @include for-size(md) {
      flex-shrink: 0;
      width: 50%;
      max-width: 615px;
      height: 100%;
      min-height: 350px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url('../images/footer-desktop.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left;
    }
  }
}
#menu-footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0 -1rem;
  li {
    display: inline-block;
    padding: 0 1rem;
    margin-bottom: .75em;
    margin-right: 1rem;
    position: relative;
    &:not(:last-of-type):after {
      content: '|';
      color: $gh-yellow;
      position: absolute;
      left: 100%;
      top: 0;
    }
    a {
      color: black;
      font-weight: 600;
    }
  }
}

.select-selected {
  background-color: white;
  position: relative;
  border:0!important;
  min-width: 75px;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  @include transformify(transform, translateY(-25%));
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $gh-green transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent $gh-green transparent;
  @include transformify(transform, translateY(-75%));
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: $gh-green;
  font-size: .8rem;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 8em;
  overflow-y: scroll;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  outline: solid 2px $gh-yellow;
}

.custom-select {
  .nf-after-field {
    display: none;
  }
  select {
    display: none; /*hide original SELECT element:*/
  }
}

.html-wrap {
  h1 {
    background-color: $gh-pink;
    display: inline;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;
    box-decoration-break: clone;
    box-shadow:
      4px 0 0 $gh-pink,
      4px 0 0 $gh-pink;
    &::after {
      content: '';
      display:block;
      height:1em;
    }
  }
}

.checkbox-wrap {
  a {
    font-weight: 600;
  }
  .checkbox-custom-check {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    pointer-events: none;
  }
  input.nf-checked + .checkbox-custom-check {
    &::after {
      content: '';
      width: 22px;
      height: 22px;
      background-image: url('../images/checked.png');
      background-size: contain;
      position: absolute;
      left: 3px;
      top: -3px;
      pointer-events: none;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 22px!important;
    width: 22px!important;
  }
}

#age-verify-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,.8);
  display: none;
  #age-verify {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #age-verify-content {
      width: 90%;
      max-width: 850px;
      background-color: $gh-pink;
      padding: 5%;
      position: relative;
      h1 {
        background-color: #f5cac4!important;
        margin-bottom: 15px;
      }
      p {
        font-size: 1.5rem;
      }
      .nf-form-wrap {
        margin: 0;
      }
      #age-verify-links {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        ul {
          display: flex;
          margin-bottom: 0;
          padding: 0;
          li {
            a {
              margin-left: 1.5rem;
              font-size: .8rem;
              padding-bottom: .25rem;
              border-bottom: 3px solid $gh-green;
            }
          }
        }
      }
      .nf-error-msg {
        margin-top: 1rem;
        font-size: 1rem;
      }
      #nf-form-7-cont {
        .nf-form-fields-required {
          display: none;
        }
        nf-fields-wrap {
          .nf-after-field {
            display: none;
          }
          nf-field {
            margin-right: .5rem;
          }
          display: flex;
          flex-wrap: wrap;
          position: relative;
          align-items: flex-end;
          .nf-field-container {
            margin-bottom: 0;
          }
          .nf-field-element {
            a {
              text-decoration: underline;
            }
            h1 {
              margin-bottom: 0!important;
              box-shadow: none;
              &::after {
                display: none;
              }
            }
          }

          label {
            font-weight: 400;
            font-size: .95rem;
            opacity: .6;
          }
          nf-field:first-child {
            grid-column: 1/4;
            @include for-size(sm-md) {
              grid-column: 1/5;
            }
          }
          .checkbox-wrap {
            margin: 1rem 0;
            label {
              width: 100%;
            }
          }
          #nf-field-46-wrap {
            margin-top: 15px;
          }
          #nf-field-47.inactive {
            opacity: .4;
          }
          #nf-field-42-container {
            grid-column: month;
            @include for-size(sm-md) {
              grid-column: 1/5;
            }
            .select-items {
              height: 200px;
              overflow: auto;
            }
          }
          #nf-field-43-container {
            grid-column: day;
            input{
              border: 0;
              border-radius: 0;
              font-size: .8rem;
              color: $gh-green;
              padding: 9px 8px 8px;
            }
          }
          #nf-field-44-wrap.nf-error {
            outline: 1px solid red;
          }
          #nf-field-44-container {
            grid-column: year;
            input{
              border: 0;
              border-radius: 0;
              font-size: .8rem;
              color: $gh-green;
              padding: 9px 8px 8px;
              &::placeholder { /* Firefox 18- */
                color: $gh-green;
                text-transform: uppercase;
                font-size: .73rem;
                letter-spacing: 1px;
              }
            }
          }
          #nf-field-46-container {
            grid-column: 1/4;
          }
          nf-field:nth-child(7), nf-field:nth-child(6) {
            grid-column: 1/4;
            margin-bottom: 0;
            @include for-size(sm-md) {
              grid-column: 1/5;
              margin-bottom: 0;
            }
          }
          #nf-label-field-42 {
            white-space: nowrap;
          }
          #nf-field-47 {
            color: white;
            background-color: $gh-blue;
            border: 0;
            border-radius: 0;
            font-weight: 200;
            padding: 13px 36px 12px;
            letter-spacing: 1px;
            font-size: .7rem;
            margin-top: .5rem;
            text-transform: uppercase;
            grid-column: 1/5;
          }
        }
      }
      #verify-fields {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
        label {
          margin-bottom: 10px;
          position: relative;
          display: block;
        }
        select, input {
          border: 0;
          border-radius: 0;
          font-size: .8rem;
          color: $gh-green;
        }
        input {
          padding: 9px 8px 8px;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
              /* display: none; <- Crashes Chrome on hover */
              -webkit-appearance: none;
              margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }
          &::placeholder { /* Firefox 18- */
            color: $gh-green;
            text-transform: uppercase;
            font-weight: 500;
            font-size: .73rem;
            letter-spacing: 1px;
          }
        }
        #verify-day, #verify-month {
          min-width: 35px;
        }
        #verify-year {
          min-width: 50px;
        }

        #country-select-container {
          position: relative;
          width: 100%;
          select {
            width: 100%;
            &:focus {
              outline: none;
            }
          }
        }

        #age-verify-fields-container {
          white-space: nowrap;
          margin-right: 5px;
          input {
            margin-right: 8px;
          }
        }
      }
    }
  }
  #verify-checkboxes {
    user-select: none;
    label {
      padding-left: 30px!important;
      display: block;
      margin: 8px 0;
      position: relative;
    }
    input {
      position: absolute;
      opacity: 1;
      color: black!important;
      width: 20px;
      height: 20px;
      cursor: pointer;
      top: 2px;
      //: -10px;
      padding-right: 30px!important;
      margin-left: -30px!important;
      &:checked::after {
        background-image: url('../images/checked.png');
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
      }
    }
    .checkbox-inline {
      display: block;
      margin: 4px 2.5em 5px 0;
      //left: 15px!important;
    }
    .checkbox-inline+.checkbox-inline {
      margin-left: 0;
      margin: 4px 2.5em 5px 0;
      //left: 15px!important;
    }
  }
  input[type="submit"] {
    color: white;
    background-color: $gh-blue;
    border: 0;
    border-radius: 0;
    font-weight: 200;
    padding: 13px 36px 12px;
    letter-spacing: 1px;
    font-size: .7rem;
    margin-top: 1rem;
  }
}

body.unverified {
  #age-verify-wrapper {
    display: block;
    z-index: 999;
  }
}
