$gh-pink: #F5E8E6;
$gh-pink-lt: #FBF6F5;
$gh-pink-dk: #D35351;
$gh-teal: #60C0BF;
$gh-teal-lt: #B2DFD6;
$gh-yellow: #fbcc4e;
$gh-red: #D25352;
$gh-gray: #AFABAB;
$gh-green: #016656;
$gh-blue: #343465;
$gh-teal: #368579;

@mixin for-size($range) {
  $sm: 480px;
  $sm-md: 600px;
  $md: 768px;
  $lg: 960px;
  $xl: 1024px;
  $xxl: 1200px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == sm-md {
    @media (min-width: $sm-md) { @content; }
  } @else if $range == sm-md-down {
    @media (max-width: #{$sm-md - 1}) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$md - 1}) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == lg-down {
    @media (max-width: #{$lg - 1}) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}

.blue-btn, #form-container input[type="submit"] {
  background-color: $gh-blue;
  padding: .8rem 2rem .7rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .8rem;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: all .2s linear;
  &:visited, &:focus {
    color: white;
  }
  &:hover {
    outline: 2px solid $gh-blue;
    color: $gh-blue;
    background-color: transparent;
  }
}

@keyframes bounce {
  from{
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  50%,
  53% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes togglemenutop {
  from{
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes togglemenubottom {
  from{
    transform: translateY(7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}

@keyframes togglemenutopback {
  from{
    transform: rotate(45deg) translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}

@keyframes togglemenubottomback {
  from{
    transform: rotate(-45deg) translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes bounceIn {
  from,
  40%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.7, 0.7, 0.7);
  }

  40% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
