.section-image .grid-spacer {
  width: 10%;
}

.section-image img {
  width: 80%;
}

.gh-social-icons-content {
  display: inline-table;
}

.gh-social-icons-content .gh-icon {
  display: table-cell;
}

@media only screen and (min-width: 600px) {
  .footer-content {
    display: inline-table;
  }
  .footer-content .menu-footer-menu-container {
    display: table-cell;
    vertical-align: middle;
  }
  .footer-content .gh-social-icons {
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 768px) {
  .section-image .grid-spacer {
    width: 10%;
    display: table-cell;
  }
  .section-image img {
    width: 50%;
    display: table-cell;
  }
  .gh-section .section-left-indent .grid-spacer {
    display: table-cell;
    width: 10%;
  }
  .gh-section .section-left-indent .section-content {
    display: table-cell;
    width: 90%;
  }
  .gh-section .section-content-split section {
    display: table-cell;
    width: 50%;
  }
  .gh-section .section-content-split section#qa-preview {
    padding: 0 20px 0 0;
  }
  .gh-section .section-content-split section#qa-preview .qa-preview-response {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .gh-section .section-content-split section#mentor-preview {
    padding: 0 0 0 20px;
  }
  .gh-section .section-right .section-one {
    width: 40%;
    display: table-cell;
  }
  .gh-section .section-right .section-two {
    width: 10%;
    display: table-cell;
  }
  .gh-section .section-right .section-content {
    width: 50%;
    display: table-cell;
  }
}

@media only screen and (min-width: 960px) {
  header.site-header {
    text-align: center;
  }
  header.site-header .gh-social-icons {
    display: table-cell;
    vertical-align: middle;
    width: calc(50% - 280px/2);
  }
  header.site-header .site-branding {
    display: table-cell;
    vertical-align: middle;
  }
  header.site-header .main-navigation {
    display: table-cell;
    vertical-align: middle;
  }
  header.site-header .main-navigation .menu-header-menu-container ul {
    display: inline-table;
  }
  header.site-header .main-navigation .menu-header-menu-container ul li {
    display: table-cell;
  }
}
