.section-image {
  .grid-spacer {
    width: 10%;
  }
  img {
    width: 80%;
  }
}

.gh-social-icons-content {
  display: inline-table;
  .gh-icon {
    display: table-cell;
  }
}

@media only screen and (min-width: 600px) {
  .footer-content {
    display: inline-table;
    .menu-footer-menu-container {
      display: table-cell;
      vertical-align: middle;
    }
    .gh-social-icons {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@media only screen and (min-width: 768px) {
  .section-image {
    .grid-spacer {
      width: 10%;
      display: table-cell;
    }
    img {
      width: 50%;
      display: table-cell;
    }
  }
  .gh-section {
    .section-left-indent {
      .grid-spacer {
        display: table-cell;
        width: 10%;
      }
      .section-content {
        display: table-cell;
        width: 90%;
      }
    }
    .section-content-split {
      section {
        display: table-cell;
        width: 50%;
        &#qa-preview {
          padding: 0 20px 0 0;
          .qa-preview-response {
            width: calc(50% - 10px);
            margin-right: 10px;
          }
        }
        &#mentor-preview {
          padding: 0 0 0 20px;
        }
      }
    }
    .section-right {
      .section-one {
        width: 40%;
        display: table-cell;
      }
      .section-two {
        width: 10%;
        display: table-cell;
      }
      .section-content {
        width: 50%;
        display: table-cell;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  header.site-header {
    text-align: center;
    .gh-social-icons {
      display: table-cell;
      vertical-align: middle;
      width: calc(50% - 280px/2);
    }
    .site-branding {
      display: table-cell;
      vertical-align: middle;
    }
    .main-navigation {
      display: table-cell;
      vertical-align: middle;
      .menu-header-menu-container ul {
        display: inline-table;
        li {
          display: table-cell;
        }
      }
    }
  }
}
